<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'indexpage/css/bootstrap.min.css' %}">

    <title>
      {% block title %}
      Hello, world!
      {% endblock %}
    </title>
  </head>
  <body class="container">
    {% block body %}
    <h1>Hello, world!</h1>
    {% endblock %}
  </body>
</html>