<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
    <div class="container">

      <h3>Products section</h3>
      <hr>

      {% block body %}

      {% endblock %}
    </div>
  </body>
</html>
