<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>

<style>

    .main-background {
        background: red;
    }

    li {
        background: green;
    }

    #contacts {
        background: yellow;
    }

</style>

<body>
<h1>Contacts</h1>
<h2>You can contact us</h2>

<div id="form" class="main-background" id="contacts">
    <ul style="margin: 15px">
      <li>email</li>
      <li>telegram</li>
      <li>phone</li>
    </ul>
</div>

<div id="form" class="main-background">
    <form>
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname">
        <br>
        <button type="submit">Send message</button>
    </form>
</div>

<a href="index.html">Index</a>

</body>
</html>